body{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  
}

.firstParent{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;

}




textarea{
  
  outline: none;
  margin: 12 10px;
}

.dark-light-mode{

  position: relative;

  display: flex;
  justify-content: right;
  align-items: center;
  
  height: 10%;
  width: 10%;
  
}

.darkbtn{
  
  cursor: pointer;
  height: 35px;
  width: 100px;
  border: 0.1px solid #ccc;
  border-radius: 5px;

}




