.footer{
    
    display: flex;
    flex-direction: row;
  
    height: 80px;
    width: 100%;
    
     background-color: grey;
   
  }
  
  .insideFooter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    height: 100%;
    width: 30%; 
  }

  @media (max-width:480px) {
    .footer{
      height: 40px;
    }

    .insideFooter p{
      font-size: 10px;
    }
  }
  
