.NewsContent{
    height: 85vh;
    width: 100vw;
  }
  
  

  
  .NewsContent img{
    height: 100%;
    width: 100%;
  }

@media (max-width:480px) {
    .NewsContent{
      height: 35vh;
      width: 100vw;
    }
    
    
    
    
  }
